{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Task Manager Dashboard</title>
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
</head>
<body class="flex flex-col items-center justify-center min-h-screen bg-gradient-to-r from-blue-500 to-purple-500 text-white font-sans">
    <nav class="w-full bg-gray-800 p-4 shadow-lg">
        <div class="container mx-auto flex justify-between items-center">
            <div class="text-3xl font-bold">
                <a href="{% url 'admin_page' %}" class="text-white">Admin Task Manager Dashboard</a>
            </div>
            <div class="hidden md:flex space-x-4">
                <a href="{% url 'admin_page' %}" class="text-white hover:bg-beige-light hover:bg-gray-700 hover:rounded-full">Dashboard</a>
                <a href="{% url 'view_tasks' %}" class="text-white hover:bg-beige-light hover:bg-gray-700 hover:rounded-full">View Tasks</a>
                <a href="{% url 'create_task' %}" class="text-white hover:bg-beige-light hover:bg-gray-700 hover:rounded-full">Create Tasks</a>
                <a href="{% url 'liste_employes' %}" class="text-white hover:bg-beige-light hover:bg hover:rounded-full">View All Employees</a>
                <a href="{% url 'home' %}" class="text-white hover:bg-beige-light hover:bg-gray-700 hover:rounded-full">Logout</a>
            </div>
    </nav>

    <div class="w-full max-w-4xl bg-white p-8 rounded-lg shadow-lg mt-8 font-sans">
        <h4 class="text-2xl font-bold mb-4 text-gray-800">Create a New Task</h4>
        <form method="post" class="space-y-4">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="w-full bg-gray-light text-white py-2 rounded-lg hover:bg-blue-700 transition duration-300">Create Task</button>
        </form>
    </div>

    <footer class="mt-32 font-sans">
        <p>Task Manager &copy; 2024</p>
    </footer>
</body>
</html>