{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Dashboard</title>
</head>
<body>
    <h1>Task Manager - Employee Portal</h1>
    
    <h3>Que souhaitez-vous demander à votre manager ?</h3>

    <div>
        <a href="admin_dashboard.html">Administrator</a>
        <a href="employee_dashboard.html">Employee</a>
    </div>

    <footer>
        <p>Task Manager &copy; 2024</p>
    </footer>
</body>
</html>