{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Dashboard</title>
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
</head>
<body>
    <nav>
    <h1>Task Manager - Employee Portal</h1>
    </nav>

    <div>
    <h3>Quel type de congé souhaitez-vous demander à votre manager ?</h3>
    </div>

    <div>
        <form method= 'post'>
            {% csrf_token %}

            {{ form.as_p }}

            <br>
        <button type="submit">Envoyer la demande</button>
        
        </form>
    </div>

    <div>
        <a href= {% url 'home' %}>Revenir à la homepage</a>
    </div>

    <footer>
        <p>Task Manager &copy; 2024</p>
    </footer>
</body>
</html>