{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
</head>
<body>
    <h1 class="text-red-700">Task Manager Homepage</h1>
    
    <h3>Quel est votre profil ?</h3>

    <div>
        <a href={% url 'admin_page' %}>Administrator</a>
        <a href={% url 'employee_page'%}>Employee</a>
    </div>



    

    <footer>
        <p>Task Manager &copy; 2024</p>
    </footer>
</body>
</html>