{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
</head>
<body>
    <h1>Admin Task Manager Dashboard</h1>
     <h3> Bienvenue {{ admin }} !</h3>

     <nav> 
        <ul>
            <li><a href={% url 'admin_page' %}>Dashboard</a></li>
            <li><a href="">Create Task</a></li>
            <li><a href="">View Tasks</a></li>
            <li><a href={% url "home" %}>Logout</a></li>
        </ul>
     </nav>
     
     <div>
        {% if employees %}
            <h4>Voici la liste des employés :</h4>
            <ul>
                {% for employee in employees %}
                <div>
                    <img src="{{ employee.photo_profil}}" alt="photo de l'employé" width="150" height="150">
                    <p>{{ employee.nom }} {{ employee.prenom }}</p>
                    <p>{{ employee.email }}</p>
                    <p>{{ employee.poste }}test</p>
                    <p>{{ employee.date_embauche}}</p>
                    <p>{{ employee.adresse }}</p>
                    <p>{{ employee.date_naissance }}</p>
                    <p>{{ employee.telephone}}</p>

                {% endfor %}
                </div>
            </ul>
        {% else %}
            <h4>La liste des employés est vide</h4>
        {% endif %}
    </div>
        <footer>
            <p>Task Manager &copy; 2024</p>
        </footer>
</body>
</html>